<%- include('template/_header') %>
<script type="text/javascript">
    $(document).ready(function () {


        $('a[name="delete"]').click(function () {

            if (confirm('vous souhaitez confirmer la suppression ?')) {
                var id = this.id;

                $.ajax({
                    async: true,
                    type: 'GET',
                    dataType: 'JSON',
                    contentType: 'application/json;charset=utf-8',
                    url: '/users/delete/' + id,

                    success: function (data) {

                        location.replace('http://localhost:3000/users')

                    },
                    error: function (err) {

                        location.replace('http://localhost:3000/users')

                    }


                })
            }
        });



    });
</script>



<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
    <div
        class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">


        <h6 style="float: left;">Liste des Utilisateurs </h6>
        <a href="/add-user" class="btn btn-primary"> <i class="fa fa-plus" aria-hidden="true"></i>
            Ajouter</a>
    </div>





    <div class="table-responsive">
        <table class="table table-striped table-sm">

            <thead>

                <tr>

                    <th scope="col">Nom</th>
                    <th scope="col">Prenom</th>
                    <th scope="col">Email</th>
                    <th scope="col">Genre</th>
                    <th scope="col">Role</th>

                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <% for(var i=0;i < users.length;i++) { %>
                <tr>
                    <td> <%=users[i].nom %> </td>
                    <td><%=users[i].prenom %> </td>
                    <td><%=users[i].email %> </td>
                    <td><%=users[i].sexe %> </td>
                    <td><%=users[i].role %> </td>



                    <td> <a class="btn btn-success" name="update" href="/update/<%=users[i]._id %>"><i
                                class="fa fa-pencil" aria-hidden="true"></i>
                        </a>
                        <a class="btn btn-warning" name="delete" id="<%=users[i]._id %>"><i class="fa fa-trash"
                                aria-hidden="true"></i>
                        </a>
                    </td>
                </tr>
                <% }%>


            </tbody>
        </table>
    </div>
</main>


<%- include('template/_footer') %>